@font-face {
    font-family: cursedTimer;
    src: url(fonts/CursedTimerUlil-Aznm.ttf);
}

#calculator {
    display: flex;
    flex-direction: column;
    width: 400px;
    
}
#display {
    font-family: cursedTimer;
    height: 100px;
    background: rgb(197, 236, 197);
    font-size: 80px;
    text-align: right;
    line-height: 100px;
}

#buttons {
    height: 400px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
}

