@font-face {
    font-family: cursedTimer;
    src: url(fonts/CursedTimerUlil-Aznm.ttf);
}

@font-face {
    font-family: superNintendo;
    src: url(fonts/SnesItalic-1G9Be.ttf);
}

body {
    height: 100%;
    background: #b5b6e479;
}

p {
    font-family: superNintendo;
    text-decoration: underline;
    text-align: center;
    font-size: 50px;
    margin: 0 0 10px 0;
}
.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}
.footer p {
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    font-size: 20px;
}

.footer a {
    text-decoration: none;
    color: #4e5955;
}

.footer a:hover {
    text-decoration: underline;
}

#calculator {
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 572px;
    padding: 20px;
    background: #a8aaaa;
    border-radius: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -286px 0 0 -200px;
}

#display {
    font-family: cursedTimer;
    color: #0f380f;
    height: 100px;
    background: #9bbc0f;
    font-size: 80px;
    text-align: right;
    line-height: 100px;
    margin-bottom: 10px;
    border-radius: 5px;
}

button {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 35px;
    color: white;
    background: #3c3b3b;
    border: 0;
    border-radius: 5px;
}

button:hover, #add:hover, #subtract:hover, #multiply:hover, #divide:hover, #clear:hover, #backspace:hover {
    background-image: linear-gradient(rgba(0, 0, 0, 0.4) 0 0);
    cursor: pointer;
}

button:active, #add:active, #subtract:active, #multiply:active, #divide:active, #clear:active, #backspace:active {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6) 0 0);
    cursor: pointer;
}

#add {
 background: #eb1a1d;
}

#subtract {
    background: #fece15;
}

#multiply {
    background: #0749b4;
}

#divide {
    background: #008d45
}


#buttons {
    height: 400px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 10px
}

#clear {
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 3;
    background: #4e5955;
}

#backspace {
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 3;
    grid-column-end: 5;
    background: #4e5955;
}