#calculator {
    display: flex;
    flex-direction: column;
    width: 400px;
    
}

#buttons {
    height: 400px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
}

